.section
  +w($tablet)
  padding: 0
  margin: 0 auto
  &-header
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
.section,.block-filter
  &-buttons
    margin-bottom: 24px
    flex-direction: row
    justify-content: space-between
  &-button
    margin-bottom: 0
.block
  margin-top: 24px
  padding: 30px
  &-title
    &:not(:last-child)
      margin-bottom: 0
    &-control
      min-height: 34px
      .block-title
        width: initial
        margin-right: auto
      .button
        margin-right: 16px
    &-left
      margin-right: auto
  &-filter
    margin-bottom: 32px
    padding-bottom: 18px
    display: flex
    align-items: center
    position: relative
    &:after
      +af
      +wh(100%,1px)
      background-color: rgb($neutral-200)
      position: absolute
      left: 0
      bottom: 0
    &-buttons
      margin-bottom: 0
    &-button
      margin-right: 10px
      padding: 0 10px
      position: relative
      &:last-child
        margin-right: 0
      &:after
        +af
        +wh(100%,1px)
        position: absolute
        left: 0
        bottom: -21px
        z-index: 1
      &.active
        &:after
          background-color: rgb($blue)


.pagination
  flex-direction: row
  justify-content: space-between
  &-info
    margin-bottom: 0


.head
  &-logo
    max-width: initial
  &-user
    +wh(40px)


.navigate
  &-item
    width: calc(100% / 3)


.student
  &-main
    padding-right: 50%
    background-image: url(img/multitasking.png)
    background-size: auto 100%
    background-position: calc(100% - 30px) 50%
    background-repeat: no-repeat


.upcoming
  &-item
    flex-direction: row
    align-items: center
  &-center
    margin: 0 0 0 auto
  &-right
    margin-left: 44px


.schedule
  &-item
    &:not(:last-child)
      margin-bottom: 32px
    .icon
      +wh(64px)
      padding: 12px
    .info
      margin-left: 32px
      &-item
        margin-top: 12px
      &-text
        font-size: $fz16


.frequently
  &-row
    justify-content: space-between


.test
  &-scores
    &-item
      width: calc((100% - 60px) / 4)
      flex-basis: calc((100% - 60px) / 4)
      margin-bottom: 0
    .table
      white-space: nowrap
  &-block
    min-height: calc(100vh - 228px)
  &-header
    padding-bottom: 20px
    flex-wrap: nowrap
    &-button
      margin-left: 24px
  &-timer
    margin-bottom: 0
  &-footer
    padding-top: 20px
    flex-direction: row
    align-items: center
    &-button
      padding: 12px 20px
    button,a
      margin-right: 24px
      margin-bottom: 0
      &:first-child
        margin-right: auto
      &:last-child
        margin-right: 0
  &-inner
    padding: 32px 0


.skill
  &-level
    &-item
      margin-bottom: 0
      flex-basis: initial


.achievements
  &-item
    width: 64px
    margin-right: 20px
    margin-bottom: 0
    &:nth-child(3n)
      margin-right: 20px


.stars
  &-row
    display: flex
    align-items: flex-start
  &-circle
    +wh(310px)
    &>svg
      +wh(310px)
    circle
      r: 134
  &-info
    margin-left: 48px
    margin-top: 0


.questions
  &-item
    width: 17%