.section
	nav.navigate-list(data-click='navigate')
		button.navigate-item.active
			span Analytics Dashboard
		button.navigate-item
			span Users
		button.navigate-item
			span Courses
		button.navigate-item
			span Transactions History
		button.navigate-item
			span Reports
		.navigate-label(style='width: 210px;left: 15px;')
			.navigate-label-left
			.navigate-label-right