.calendar
	.calendar-title
		span March
	.calendar-inner
		.calendar-row
			.calendar-btn
				span
			.calendar-btn
				span
			.calendar-btn.fill
				span 1
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn.fill
				span 2
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn.fill
				span 3
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn.fill
				span 4
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 5
		.calendar-row
			.calendar-btn
				span 6
			.calendar-btn.fill
				span 7
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn.fill
				span 8
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn.fill
				span 9
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn.fill
				span 10
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn.fill
				span 11
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn.fill
				span 12
				a(href='#').calendar-link
					svg
						use(xlink:href='#badge')
		.calendar-row
			.calendar-btn
				span 13
			.calendar-btn
				span 14
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 15
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 16
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 17
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 18
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 19
		.calendar-row
			.calendar-btn
				span 20
			.calendar-btn
				span 21
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 22
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 23
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 24
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 25
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 26
				a(href='#').calendar-link
					svg
						use(xlink:href='#badge')
		.calendar-row
			.calendar-btn
				span 27
			.calendar-btn
				span 28
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 29
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 30
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span 31
				a(href='#').calendar-link
					svg
						use(xlink:href='#tablet')
			.calendar-btn
				span
			.calendar-btn
				span