.block.frequently
	.block-title-control
		h5.block-title
			span Frequently Asked Questions
	p.block-text Do you have a problem or a sweet idea? Check out our frequently asked questions first.
	.frequently-row
		button.button
			span Report a problem
		button.button
			span Sujest an idea
		button.button
			span Frequently Asked Questions