form.modal.note(slot='modal-item')#note
	h6.modal-title
		span Note
	textarea.modal-area
	.modal-row.end
		button(type='button' data-click='closeModal').button
			span Cancel
		button.button-blue
			span Save