.block
	.block-title-control
		h5.block-title
			span Practice Schedule
		button.button
			span Delete
		button.button
			span Edit
	ul.schedule-list
		li.schedule-item
			h5.schedule-title
				span Next Practice
			.icon
				svg
					circle(stroke-dasharray="25 250" stroke-linecap="round" cx="50%" cy="50%")
				span 1
				.info
					i Day
					span until next practice
		li.schedule-item
			h5.schedule-title
				span Next Practice Test
			.icon.blue
				svg
					circle(stroke-dasharray="25 250" stroke-linecap="round" cx="50%" cy="50%")
				span 10
				.info
					i Days
					span until next practice test
		li.schedule-item
			h5.schedule-title
				span Your ISEE Date
			.icon.green
				svg
					circle(stroke-linecap="round" cx="50%" cy="50%")
				span 79
				.info
					i Days
					span until ISEE test
	button.hidden-show(data-click='showHidden')
		.hidden-show-text
			span Open calendar
			span Close calendar
		svg
			use(xlink:href='img/sprite.svg#select-arrow-bottom')
	.hidden-cont
		.calendar-days
			span.calendar-day Su
			span.calendar-day Mo
			span.calendar-day Tu
			span.calendar-day We
			span.calendar-day Th
			span.calendar-day Fri
			span.calendar-day Sa
		.calendar-list
			.calendar-item
				include ./calendar
			.calendar-item
				include ./calendar
			.calendar-item
				include ./calendar