.block
	.block-title-control
		h5.block-title
			span Practice Schedule
		button.button
			span Delete
		button.button
			span Edit
	ul.schedule-list
		li.schedule-item
			.icon
				svg
					use(xlink:href='img/sprite.svg#tablet')
			.info
				h5.schedule-title
					span Next Practice
				.info-item
					.info-icon
						svg
							use(xlink:href='img/sprite.svg#clock')
					.info-text
						span Monday March 14, 5:00 PM
				.info-item
					.info-icon
						svg
							use(xlink:href='img/sprite.svg#questions')
					.info-text
						span 10 questions (15 minutes)
		li.schedule-item
			.icon
				svg
					use(xlink:href='img/sprite.svg#badge')
			.info
				h5.schedule-title
					span Next Practice Test
				.info-item
					.info-icon
						svg
							use(xlink:href='img/sprite.svg#clock')
					.info-text
						span Saturday March 26
		li.schedule-item
			.icon.blue
				svg
					use(xlink:href='img/sprite.svg#badge')
			.info
				h5.schedule-title
					span Your ISEE Date
				.info-item
					.info-icon
						svg
							use(xlink:href='img/sprite.svg#clock')
					.info-text
						span 79 days until test, Saturday May 7