.block.questions
	h5.block-title.small
		span Questions
	.questions-cont
		include ./questions-list
		include ./questions-list
		include ./questions-list
		include ./questions-list
		button.questions-button
			svg
				use(xlink:href='img/sprite.svg#arrow-bottom')
			span Scroll for more
			svg
				use(xlink:href='img/sprite.svg#arrow-bottom')
