.block.achievements
	.block-title-control
		h5.block-title
			span Recent Achievements
		button.button
			span View Achievements
	ul.achievements-list
		li.achievements-item.blue
			.img
				svg
					use(xlink:href='img/sprite.svg#graphic-3')
			.text
				span 15
		li.achievements-item.brown
			.img
				svg
					use(xlink:href='img/sprite.svg#tablet')
			.text
				span 10
		li.achievements-item.green
			.img
				svg
					use(xlink:href='img/sprite.svg#badge')
			.text
				span 400
		li.achievements-item.orange
			.img
				svg
					use(xlink:href='img/sprite.svg#shield')
			.text
				span 200
		li.achievements-item.red
			.img
				svg
					use(xlink:href='img/sprite.svg#calendar')
			.text
				span 10
		li.achievements-item.violet(disabled)
			.img
				svg
					use(xlink:href='img/sprite.svg#rocket')
			.text
				span 3