.block
	.block-title-control
		h5.block-title
			span Recent Rewards
	p.block-text Explanation text how to get rewards and how this work.
.block
		.block-title-control
			h5.block-title
				span Recent Rewards
		ul.rewards-statistic-list
			li.rewards-statistic-item
				strong 03/26
				.circle.violet
				span In-class recognition - 5 stars
			li.rewards-statistic-item
				strong 03/25
				.circle.green
				strong Badge earned - 15 Skills Mastered
			li.rewards-statistic-item
				strong 03/24
				.circle.red
				strong Badge earned - 400 Point Score Improvement