form.modal.report(id='report' slot='modal-item')
	h6.modal-title
		span Report a mistake in this question
	p.modal-text Remember to read through the explanations and double check your answer. Thanks for your help!
	p.modal-text What’s wrong

	h6.modal-title
		span Description of issue
	textarea.modal-area
	.modal-row.end
		button(type='button').button
			span Cancel
		button.button-blue
			span Submit Issue