.block-filter(data-click='getSessions')
	h2.block-title Upcoming Tutoring Sessions
	.block-filter-buttons
		button.block-filter-button.active
			span Today
		button.block-filter-button
			span Week
		button.block-filter-button
			span Month