.block.stars
	.block-title-control
		h5.block-title
			span Stars
		button.button
			span What are stars?
	.stars-row
		.stars-circle
			.stars-circle-count
				svg
					use(xlink:href='img/sprite.svg#stars')
				span 8,345
		ul.stars-info
			li.stars-info-item.orange
				.stars-info-img
					svg
						use(xlink:href='img/sprite.svg#stars')
				.stars-info-text
					strong 1,500
					span Skills Practice
			li.stars-info-item.red
				.stars-info-img
					svg
						use(xlink:href='img/sprite.svg#stars')
				.stars-info-text
					strong 1,500
					span Quizzes
			li.stars-info-item.green
				.stars-info-img
					svg
						use(xlink:href='img/sprite.svg#stars')
				.stars-info-text
					strong 1,000
					span Homework
			li.stars-info-item.blue
				.stars-info-img
					svg
						use(xlink:href='img/sprite.svg#stars')
				.stars-info-text
					strong 1,500
					span Tests
			li.stars-info-item.violet
				.stars-info-img
					svg
						use(xlink:href='img/sprite.svg#stars')
				.stars-info-text
					strong 2,500
					span Videos Watched
			li.stars-info-item.turquoise
				.stars-info-img
					svg
						use(xlink:href='img/sprite.svg#stars')
				.stars-info-text
					strong 345
					span Reviewed Questions
			li.stars-info-item.gold
				.stars-info-img
					svg
						use(xlink:href='img/sprite.svg#stars')
				.stars-info-text
					strong 0
					span Tutoring Sessions