.block
	.block-title-control
		.block-title-left
			h5.block-title
				span Current Skill Levels
			p.block-title-control-text Click on section below to open practice and improve
		button.button
			span What are skill levels?
	.skill-level-list
		.skill-level-item.green
			.img
				svg
					use(xlink:href='img/sprite.svg#graphic-4')
			a(href='#').link
				span Verbal
				span Reasoning
		.skill-level-item.blue
			.img
				svg
					use(xlink:href='img/sprite.svg#graphic-3')
			a(href='#').link
				span Quantitative
				span Reasoning
		.skill-level-item.violet
			.img
				svg
					use(xlink:href='img/sprite.svg#graphic-2')
			a(href='#').link
				span Reading
				span Comprehension
		.skill-level-item.turquoise
			.img
				svg
					use(xlink:href='img/sprite.svg#graphic-1')
			a(href='#').link
				span Mathematics
				span Achievement