.section
	nav.navigate-list(data-click='navigate')
		.navigate-label
			.navigate-label-left
			.navigate-label-right
		button.navigate-item.active
			span Dashboard
		button.navigate-item
			span Class
		button.navigate-item
			span Practice
		button.navigate-item
			span Tests
		button.navigate-item
			span Review
		button.navigate-item
			span Bookmarks & Notes
		button.navigate-item
			span Tips & Strategies