.section
	.block.student-main
		h1.main-title
			span Today's goal
			strong Choose your practice schedule
		p.student-main-text
			| Based on your test date, we'll put together a practice plan
			| to ensure you're ready for the real deal.
		button.button-blue
			span Choose your practice schedule
.section
	.block.student-main
		h1.main-title
			span Today's goal complete
			strong You're all done!
		p.student-main-text
			| Nice job completing your first few practice problems and choosing your practice schedule.
		p.student-main-text We'll see you again
			strong Monday at 5:00 PM.
		button.button-blue
			span Choose your practice schedule