button.test-header-button
	svg
		use(xlink:href='img/sprite.svg#bookmark-transparent')
	span Bookmark
button.test-header-button
	svg
		use(xlink:href='img/sprite.svg#edit-transparent')
	span Note
button.test-header-button(data-click='showForm' data-id='report')
	svg
		use(xlink:href='img/sprite.svg#error-circle')
	span Report