.modal.video(slot='modal-item')#video
	h6.modal-title
		span Tilte of the video
	p.modal-text Watch Paul work through a section
	iframe(src='https://www.youtube.com/embed/LRbi_pMX1DM" title="YouTube video player').modal-video
