-
	let adminUsersTable = [
		{
			image: 'green-boy.svg',
			name: 'Brooklyn Simmons',
			courses: [['ISEE U','violet'],['SHSAT 9th','brown']]
		},{
			image: 'red-boy.svg',
			name: 'Wade Warren',
			courses: [['ISEE M','blue'],['SSAT M','turquoise'],['SHSAT 8th','red']]
		},{
			image: 'gray-boy.svg',
			name: 'Cameron Williamson',
			courses: [['ISEE M','blue'],['SSAT M','turquoise']]
		},{
			image: 'red-girl.svg',
			name: 'Leslie Alexander',
			courses: [['ISEE L','gold']]
		},{
			image: 'blue-girl.svg',
			name: 'Kristin Watson',
			courses: [['SSAT M','turquoise'],['SHSAT 8th','red']]
		},
	]