header.head
	.section
		.head-row
			a(href='#').head-logo
				+img("logo.svg")
			.head-control
				a(href='./studentDashboard.html').head-button
					svg
						use(xlink:href='img/sprite.svg#bell')
				//button.head-button
				//	svg
				//		use(xlink:href='img/sprite.svg#chat')
				.head-select-block
					span Course
					g-select(classname="head-select" items=[
						{text: 'ISEE', value: 'isee', active: true},
						{text: 'SSAT', value: 'ssat'},
						{text: 'SAT', value: 'sat'},
						{text: 'ACT', value: 'act'}
					]).g-select.select.head-select
				.head-info
					span.head-name Sean
					span.head-position Student
				button.head-user
					span S