extends template/main
append vars
	-
		page_title = 'Student - Login'
block content
	main
		section.login
			.login-left
				.login-left-logo
					include ../img/Logomark.svg
				h2.login-main-title
					span Welcome to Prepfuel
				.login-main-subtitle
					span Help your child succeed
					span with our adaptive learning technology.
				+img('S_confirmation.png').login-left-img
			.login-right
				form.login-form
					h2.login-title
						span Forgot Password?
					h5.login-subtitle
						span Enter the email address you used to sign up and we'll send
						span you a link to reset your password.
					.form-block
						.form-label-row
							label.form-label Email
						input(type='text').form-input
					.form-block.row
						a(href='/login-layout.html').button-lightblue
							span Back
						a(href='forgot-send-layout.html').button-blue
							span Reset Password
				.login-bottom
					a(href='#').link
						span Contact Us