extends template/main
append vars
	-
		page_title = 'Student - Success'
block content
	main
		section.login
			.login-full.login-success
				h2.login-main-title
					span We sent password reset link to your email
				.login-main-subtitle
					span Please check your inbox messages
				.form-checkbox-row.login-checkbox
					span Did’t receive an email?
					a(href='#').link Resend
				+img('S_email.png').login-success-img