extends template/main
append vars
	-
		page_title = 'Student - Login'
block content
	main
		section.login
			.login-left
				.login-left-logo
					include ../img/Logomark.svg
				h2.login-main-title
					span Welcome to Prepfuel
				.login-main-subtitle
					span Help your child succeed
					span with our adaptive learning technology.
				+img('S_confirmation.png').login-left-img
			.login-right
				form.login-form
					h2.login-title
						span Sign In to Prepfuel
					h5.login-subtitle
						span New Here?
						a(href='/register-layout.html').link
							span Create an Account
					.form-block
						.form-label-row
							label.form-label Email
						input(type='text').form-input
					.form-block
						.form-label-row
							label.form-label Password
							a(href='/forgot-layout.html').link
								span Forgot Password?
						input(type='text').form-input
					.form-block
						label.form-checkbox-label
							input(type='checkbox').form-checkbox
							span.form-checkbox-icon
							span.form-checkbox-label-text Remember me
					.form-block
						button.button-blue
							span Sign In
						span.login-span or
						button.button-lightblue
							include ../img/google-icon 1.svg
							span Continue with Google
				.login-bottom
					a(href='#').link
						span Terms
					a(href='#').link
						span Plans
					a(href='#').link
						span Contact Us
