extends template/main
append vars
	-
		page_title = 'Student - Success'
block content
	main
		section.login
			.login-full.login-success
				h2.login-main-title
					span Password is changed
				.login-main-subtitle
					span Your password is successfully changed.
					span Please Sign in to your account
				button.button-blue
					span Sign In
				+img('S_multitasking.png').login-success-img