extends template/main
append vars
	-
		page_title = 'Student - Practice'
block content
	main
		include ../img/sprite.svg
		section.test
			.section
				.section-header
					h1.title Math basics: Converting between decimals, fractions, and percents
					button.button-white
						span Exit this Practice
			.section
				.block.test-block
					.test-header
						h5.block-title.test-title
							span Question 1 of 3
						button.test-header-button
							svg
								use(xlink:href='#video-clip')
							svg
								use(xlink:href='#video-clip')
							span Video
						include parts/test-header
					.test-inner.middle
						p.test-text
							span Math formula
						p.test-text
							span Text of a question
						ul.answer-list
							li.answer-item.incorrect
								button.answer-button
									span.answer-variant a
									span.answer-value Answer A
								.answer-review-icon
									svg
										use(xlink:href='#incorrect')
								p.answer-desc Description text. Explains why answer is correct or incorrect
							li.answer-item.another-correct
								button.answer-button
									span.answer-variant b
									span.answer-value Answer B
								.answer-review-icon
									svg
										use(xlink:href='#correctAnswer')
								p.answer-desc Description text. Explains why answer is correct or incorrect
							li.answer-item.wrong
								button.answer-button
									span.answer-variant c
									span.answer-value Answer C
								p.answer-desc Description text. Explains why answer is correct or incorrect
							li.answer-item.wrong
								button.answer-button
									span.answer-variant d
									span.answer-value Answer D
								p.answer-desc Description text. Explains why answer is correct or incorrect
							li.answer-item.wrong
								button.answer-button
									span.answer-variant e
									span.answer-value I don't know
								p.answer-desc Description text. Explains why answer is correct or incorrect
					.test-footer
						.pagination.pagination-top
							.pagination-info
								span Do 3 questions
							.pagination-links
								a(href='./practice-question-1.html').pagination-link
									span 1
								a(href='./practice-check-wrong.html').pagination-link.error.active
									span 2
								a(href='./practice-check-correct.html').pagination-link.done
									span 3
						a(href='./practice-review-correct.html').button-blue
							span Next to question 3
			div(hidden)
				include parts/report
				include parts/note