extends template/main
append vars
	-
		page_title = 'Student - Practice'
block content
	main
		include ../img/sprite.svg
		section.test
			.section
				.section-header
					h1.title Math basics: Converting between decimals, fractions, and percents
					button.button-white
						span Exit this review
			.section
				.block.test-block
					.test-header
						h5.block-title.test-title
							span Question 1 of 3
						button.test-header-button
							svg
								use(xlink:href='#video-clip')
							svg
								use(xlink:href='#video-clip')
							span Video
						include parts/test-header
					.test-inner.middle
						g-input(type='checkbox' items=[{text:'Reviewed'}])
						p.test-text
							span Math formula
						p.test-text
							span Text of a question
						ul.answer-list
							li.answer-item.correct
								button.answer-button
									span.answer-variant a
									span.answer-value Answer A
								.answer-review-icon
									svg
										use(xlink:href='#correct')
								p.answer-desc Description text. Explains why answer is correct or incorrect
							li.answer-item.wrong
								button.answer-button
									span.answer-variant b
									span.answer-value Answer B
								p.answer-desc Description text. Explains why answer is correct or incorrect
							li.answer-item.wrong
								button.answer-button
									span.answer-variant c
									span.answer-value Answer C
								p.answer-desc Description text. Explains why answer is correct or incorrect
							li.answer-item.wrong
								button.answer-button
									span.answer-variant d
									span.answer-value Answer D
								p.answer-desc Description text. Explains why answer is correct or incorrect
							li.answer-item.wrong
								button.answer-button
									span.answer-variant e
									span.answer-value I don't know
								p.answer-desc Description text. Explains why answer is correct or incorrect
						.test-label-block
							.test-label-icon
								svg
									use(xlink:href='#lamp')
							.test-label-text
								h5.test-label-title
									span Explanation to correct answer
								p Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.
					.test-footer
						.pagination.pagination-top
							.pagination-info
								span Do 3 questions
							.pagination-links
								a(href='./practice-review-correct.html').pagination-link.done.active
									span 1
								a(href='./practice-review-wrong.html').pagination-link.error
									span 2
								a(href='./practice-review-correct.html').pagination-link.done
									span 3
						a(href='./practice-result.html').test-footer-back
							span Back to results
						a(href='./practice-review-wrong.html').button-blue
							span Next to question 2
			div(hidden)
				include parts/report
				include parts/note