extends template/main
append vars
	-
		page_title = 'Student - Practice'
block content
	main
		include ../img/sprite.svg
		section.test
			.section
				.section-header
					h1.title Math basics: Converting between decimals, fractions, and percents
					button.button-white
						span Exit this Practice
			.section
				.block.test-block
					.test-header
						h5.block-title.test-title
							span Question 1 of 3
						button.test-header-button
							svg
								use(xlink:href='#video-clip')
							svg
								use(xlink:href='#video-clip')
							span Video
						include ./parts/test-header
					.test-inner.middle
						p.test-text
							span Math formula
						p.test-text
							span Text of a question
						ul.answer-list
							li.answer-item.active
								button.answer-button
									span.answer-variant a
									span.answer-value Answer A
								button.answer-wrong
									svg
										use(xlink:href='#dismiss-circle')
							li.answer-item(disabled)
								button.answer-button
									span.answer-variant b
									span.answer-value Answer B
								button.answer-wrong
									svg
										use(xlink:href='#dismiss-circle')
							li.answer-item
								button.answer-button
									span.answer-variant c
									span.answer-value Answer C
								button.answer-wrong
									svg
										use(xlink:href='#dismiss-circle')
							li.answer-item
								button.answer-button
									span.answer-variant d
									span.answer-value Answer D
								button.answer-wrong
									svg
										use(xlink:href='#dismiss-circle')
							li.answer-item
								button.answer-button
									span.answer-variant e
									span.answer-value I don't know
								button.answer-wrong
									svg
										use(xlink:href='#dismiss-circle')
						.test-label-block
							.test-label-icon
								svg
									use(xlink:href='#edit-transparent')
							.test-label-text
								p Note - nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.
							button.test-label-button(data-click='showTestLabelModal')
								svg
									use(xlink:href='#three-dots')
							.test-label-modal
								button.test-label-modal-button
									span Edit
								button.test-label-modal-button
									span Delete
						.test-label-block
							.test-label-icon
								svg
									use(xlink:href='#lamp')
							.test-label-text
								h5.test-label-title
									span Explanation to correct answer
								p Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.
					.test-footer
						a(href='./test-desc.html').test-footer-button
							span Directions
						.pagination.pagination-top
							.pagination-info
								span Do 3 questions
							.pagination-links
								a(href='./practice-question-1.html').pagination-link.active
									span 1
								a(href='./practice-check-wrong.html').pagination-link
									span 2
								a(href='./practice-check-correct.html').pagination-link
									span 3
						a(href='./practice-review-wrong.html' disabled).button-blue
							span Check answer
			div(hidden)
				include parts/report
				include parts/note
