extends template/main
append vars
	-
		page_title = 'Student - Register'
block content
	main
		section.login
			.login-left
				.login-left-logo
					include ../img/Logomark.svg
				h2.login-main-title
					span Welcome to Prepfuel
				.login-main-subtitle
					span Help your child succeed
					span with our adaptive learning technology.
				+img('S_confirmation.png').login-left-img
			.login-right
				form.login-form
					h2.login-title
						span Sign Up to Prepfuel
					h5.login-subtitle
						span Already have an account?
						a(href='/login-layout.html').link
							span Sign In
					.login-row
						.form-block.error
							.form-label-row
								label.form-label First Name
							input(type='text').form-input
						.form-block.error
							.form-label-row
								label.form-label Last Name
							input(type='text').form-input
					.form-block
						.form-label-row
							label.form-label Email
						input(type='text').form-input
					.form-block
						.form-label-row
							label.form-label Password
						input(type='text').form-input
						span.form-block-comment 8+ characters, with min. one number, one uppercase letter and one special character
					.form-block
						.form-checkbox-row
							label.form-checkbox-label
								input(type='checkbox').form-checkbox
								span.form-checkbox-icon
								span.form-checkbox-label-text I agree to the
							a(href='#').link
								span Terms & Conditions
							span and
							a(href='#').link
								span Privacy Policy
					.form-block
						button.button-blue
							span Create account
						span.login-span or
						button.button-lightblue
							include ../img/google-icon 1.svg
							span Continue with Google
