extends template/main
append vars
	-
		page_title = 'Student - Success'
block content
	main
		section.login
			.login-full.login-success
				.login-left-logo
					include ../img/Logomark-blue.svg
				h2.login-main-title
					span Welcome to Prepfuel
				.login-main-subtitle
					span Help your child succeed
					span with our adaptive learning technology.
				button.button-blue
					span Add a Student
				+img('confirmation-on-white.png').login-success-img
				.login-success-bgc
					+img('success-bgc-2,5.png')
					+img('success-bgc-1.png')
					+img('success-bgc-2.png')
					+img('success-bgc-3.png')
					+img('success-bgc-4.png')
					+img('success-bgc-5.png')
					+img('success-bgc-6.png')
					+img('success-bgc-7.png')
					+img('success-bgc-8.png')