extends template/main
append vars
	-
		page_title = 'Student - Reset'
block content
	main
		section.login
			.login-left
				.login-left-logo
					include ../img/Logomark.svg
				h2.login-main-title
					span Welcome to Prepfuel
				.login-main-subtitle
					span Help your child succeed
					span with our adaptive learning technology.
				+img('S_confirmation.png').login-left-img
			.login-right
				form.login-form
					h2.login-title
						span Reset Password
					h5.login-subtitle
						span Please enter your new password
					.form-block
						.form-label-row
							label.form-label Password
						input(type='text').form-input
						span.form-block-comment 8+ characters, with min. one number, one uppercase letter and one special character
					.form-block
						.form-label-row
							label.form-label Confirm password
						input(type='text').form-input
					.form-block.row
						a(href='/password-success-layout.html').button-blue
							span Reset Password
				.login-bottom
					a(href='#').link
						span Contact Us