extends template/main
append vars
	-
		page_title = 'Student - Dashboard'
block content
	main
		include ../img/sprite.svg
		section.navigate(data-active='.navigate-item:nth-child(1)' data-tabs='.dashboard-tabs')
			include parts/student-nav
		section
			.subnavigate(data-tabs='.dashboard-subtabs')
				include parts/student-dashboard-nav
			include parts/student-dashboard-main
			.section.row
				.col
					include parts/practice-schedule
					include parts/upcoming-tutoring-sessions
					include parts/skill-level
				.col
					include parts/recent-rewards
					include parts/frequently-asked
					include parts/test-scores
					include parts/recent-achievements
					include parts/skills
			div.hidden
				.modal.modal-blue-cont#schedule-result(slot='modal-item')
					.modal-blue.new
						.modal-blue-icon
							svg
								use(xlink:href='#calendar')
						.modal-blue-right
							h5.modal-blue-title Practice Schedule Created!
							p.modal-blue-text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
				.modal.modal-blue-cont#reminder(slot='modal-item')
					.modal-blue.new
						.modal-blue-icon
							svg
								use(xlink:href='#graphic-3')
						.modal-blue-right
							h5.modal-blue-title Skill Practice: Verbal
							p.modal-blue-text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
					.modal-title
						.modal-title-icon
							svg
								use(xlink:href='#bell')
						span Today’s reminder
					.modal-blue.new
						.modal-blue-icon
							svg
								use(xlink:href='#graphic-4')
						.modal-blue-right
							h5.modal-blue-title Skill Practice: Mathematics
							p.modal-blue-text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.