extends template/main
append vars
	-
		page_title = 'Student - Dashboard'
block content
	main
		section.navigate(data-active='.navigate-item:nth-child(1)' data-tabs='.dashboard-tabs')
			include parts/student-nav
		section
			.subnavigate(data-tabs='.dashboard-subtabs')
				include parts/student-dashboard-nav
			include parts/student-dashboard-main
			.section.row
				.col
					include parts/practice-schedule
					include parts/upcoming-tutoring-sessions
					include parts/skill-level
				.col
					include parts/recent-rewards
					include parts/frequently-asked
					include parts/test-scores
					include parts/recent-achievements
					include parts/skills