extends template/main
append vars
	-
		page_title = 'Student - Test'
block content
	main
		section.test
			.section
				.section-header
					h1.title Practice Test - Section Name
					.test-timer 20 minutes left
					button.button-white
						span Finish this section
			.section.row
				.col.wide
					.block.test-block
						.test-row.test-inner
							.test-col
								.test-left
									+img('test-graphic.svg')
									+img('test-graphic.svg')
									+img('test-graphic.svg')
									+img('test-graphic.svg')
							.test-col
								.test-header
									h5.block-title.test-title
										span Question 3 of 40
									include parts/test-header
								p.test-text
									span Math formula
								p.test-text
									span Text of a question
								include parts/answer-list
						.test-footer
							a(href='./test-desc.html').test-footer-button
								span Directions
							a(href='./test-question-2.html').test-footer-back
								span Back to question 2
							a(href='./test-question-4.html').button-blue
								span Next to questions 4
				.col.narrow
					include parts/questions-links
			div(hidden)
				include parts/report
				include parts/note