extends template/main
append vars
	-
		page_title = 'Student - Test'
block content
	main
		section.test
			.section
				.section-header
					h1.title Practice Test - Section Name
					.test-timer 20 minutes left
					button.button-white
						span Finish this section
			.section.row
				.col.wide
					.block.test-block
						.test-header
							h5.block-title.test-title
								span Question 1 of 40
							button.test-header-button.active
								svg
									use(xlink:href='img/sprite.svg#bookmark-transparent')
								svg
									use(xlink:href='img/sprite.svg#bookmark')
								span Bookmark
							button.test-header-button(data-click='showForm' data-id='note').active
								svg
									use(xlink:href='img/sprite.svg#edit-transparent')
								svg
									use(xlink:href='img/sprite.svg#edit')
								span Note
							button.test-header-button(data-click='showForm' data-id='report')
								svg
									use(xlink:href='img/sprite.svg#error-circle')
								span Report
						.test-inner.middle
							p.test-text
								span Math formula
							p.test-text
								span Text of a question
							ul.answer-list
								li.answer-item.active
									button.answer-button
										span.answer-variant a
										span.answer-value Answer A
									button.answer-wrong
										svg
											use(xlink:href='img/sprite.svg#dismiss-circle')
								li.answer-item(disabled)
									button.answer-button
										span.answer-variant b
										span.answer-value Answer B
									button.answer-wrong
										svg
											use(xlink:href='img/sprite.svg#dismiss-circle')
								li.answer-item
									button.answer-button
										span.answer-variant c
										span.answer-value Answer C
									button.answer-wrong
										svg
											use(xlink:href='img/sprite.svg#dismiss-circle')
								li.answer-item
									button.answer-button
										span.answer-variant d
										span.answer-value Answer D
									button.answer-wrong
										svg
											use(xlink:href='img/sprite.svg#dismiss-circle')
								li.answer-item
									button.answer-button
										span.answer-variant e
										span.answer-value I don't know
									button.answer-wrong
										svg
											use(xlink:href='img/sprite.svg#dismiss-circle')
							.test-label-block
								.test-label-icon
									svg
										use(xlink:href='img/sprite.svg#edit-transparent')
								.test-label-text
									p Note - nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.
								button.test-label-button(data-click='showTestLabelModal')
									svg
										use(xlink:href='img/sprite.svg#three-dots')
								.test-label-modal
									button.test-label-modal-button
										span Edit
									button.test-label-modal-button
										span Delete
							.test-label-block
								.test-label-icon
									svg
										use(xlink:href='img/sprite.svg#lamp')
								.test-label-text
									h5.test-label-title
										span Explanation to correct answer
									p Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.
						.test-footer
							a(href='./test-desc.html').test-footer-button
								span Directions
							a(href='./test-question-2.html').button
								span Skip to questions 2
				.col.narrow
					include parts/questions-links
			div(hidden)
				include parts/report
				include parts/note
