extends template/main
append vars
	-
		page_title = 'Student - Test'
block content
	main
		section.test
			.section
				.section-header
					h1.title Practice Test - Section Name
					.test-timer 20 minutes left
					button.button-white
						span Finish this section
			.section.row
				.col.wide
					.block.test-block
						.test-header
							h5.block-title.test-title
								span Question 5 of 40
							include parts/test-header
						.test-inner.middle
							p.test-text
								span Text of a question or math formula.
							.test-row
								.test-col.mini
									h6.test-col-title
										span Column A
									p.test-text Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
								.line
								.test-col.mini
									h6.test-col-title
										span Column B
									p.test-text For these questions, you will consider how the passage might be revised to improve the expression of ideas or to correct the errors in sentence structure, usage, or punctuation.
							ul.answer-list
								li.answer-item
									button.answer-button
										span.answer-variant a
										span.answer-value The quantity in column A is greater.
									button.answer-wrong
										svg
											use(xlink:href='img/sprite.svg#dismiss-circle')
								li.answer-item
									button.answer-button
										span.answer-variant b
										span.answer-value The quantity in column B is greater.
									button.answer-wrong
										svg
											use(xlink:href='img/sprite.svg#dismiss-circle')
								li.answer-item
									button.answer-button
										span.answer-variant c
										span.answer-value The two quantities are equal.
									button.answer-wrong
										svg
											use(xlink:href='img/sprite.svg#dismiss-circle')
								li.answer-item
									button.answer-button
										span.answer-variant d
										span.answer-value The relationship cannot be determined from the information given.
									button.answer-wrong
										svg
											use(xlink:href='img/sprite.svg#dismiss-circle')
								li.answer-item
									button.answer-button
										span.answer-variant e
										span.answer-value I don't know
						.test-footer
							a(href='./test-desc.html').test-footer-button
								span Directions
							a(href='./test-question-4.html').test-footer-back
								span Back to question 4
							a(href='./test-question-6.html').button-blue
								span Next to questions 6
				.col.narrow
					include parts/questions-links
			div(hidden)
				include parts/report