extends template/main
append vars
	-
		page_title = 'Student - Test'
block content
	main
		section.test
			include ../img/sprite.svg
			.section
				.block
					h1.title Test Scores
					p.test-text.test-header-text Your test scores will appear here once you complete your first practice test.
			.section
				.block.test-row.test-pick-cont
					.test-aside
						h5.test-aside-title Tests
						ul.test-aside-list
							li.test-aside-item
								button.test-aside-btn.active
									h6.test-aside-btn-title Practice test 1
									span.test-aside-btn-desc 0 of 4 sections complete
									.test-aside-btn-date
										svg
											use(xlink:href='#calendar')
										span Friday, March 18
							li.test-aside-item
								button.test-aside-btn
									h6.test-aside-btn-title Practice test 2
									span.test-aside-btn-desc 0 of 4 sections complete
									.test-aside-btn-date
										svg
											use(xlink:href='#calendar')
										span Monday, March 28
							li.test-aside-item
								button.test-aside-btn
									h6.test-aside-btn-title Practice test 3
									span.test-aside-btn-desc 0 of 4 sections complete
									.test-aside-btn-date
										svg
											use(xlink:href='#calendar')
										span Monday, March 28
							li.test-aside-item
								button.test-aside-btn
									h6.test-aside-btn-title Practice test 4
									span.test-aside-btn-desc 0 of 4 sections complete
									.test-aside-btn-date
										svg
											use(xlink:href='#calendar')
										span Monday, March 28
					.test-tabs
						.test-tabs-body
							h5.block-title.test-title
								span Start Practice test 1
							p.test-text
								span After completing a section, you can stop or review
							ul.test-pick-list.shsat
								li.test-pick-item.green
									.test-pick-time
										span 20
										span min
									ul.test-pick-desc
										li.test-pick-desc-item
											h6.test-pick-title English Language Arts
											p.text 57 questions
										li.test-pick-desc-item
											h6.test-pick-title Mathematics
											p.text 57 questions
									button.button
										span Start this test
