extends template/main
append vars
	-
		page_title = 'Student - Test'
block content
	main
		section.test
			.section
				.section-header
					h1.title Practice Test Review - Section Name
					button.button-white
						span Finish reviewing this section
			.section.row
				.col.wide
					.block.test-block
						.test-header
							h5.block-title.test-title
								span Question 1 of 40
							button.test-header-button
								svg
									use(xlink:href='img/sprite.svg#bookmark-transparent')
								span Bookmark
							button.test-header-button
								svg
									use(xlink:href='img/sprite.svg#edit-transparent')
								span Note
							button.test-header-button
								svg
									use(xlink:href='img/sprite.svg#error-circle')
								span Report
						.test-inner.middle
							p.test-text
								span Math formula
							p.test-text
								span Text of a question
							ul.answer-list
								li.answer-item.correct
									button.answer-button
										span.answer-variant a
										span.answer-value Answer A
									.answer-review-icon
										svg
											use(xlink:href='img/sprite.svg#correct')
									p.answer-desc Description text. Explains why answer is correct or incorrect
								li.answer-item.wrong
									button.answer-button
										span.answer-variant b
										span.answer-value Answer B
									p.answer-desc Description text. Explains why answer is correct or incorrect
								li.answer-item.wrong
									button.answer-button
										span.answer-variant c
										span.answer-value Answer C
									p.answer-desc Description text. Explains why answer is correct or incorrect
								li.answer-item.wrong
									button.answer-button
										span.answer-variant d
										span.answer-value Answer D
									p.answer-desc Description text. Explains why answer is correct or incorrect
								li.answer-item.wrong
									button.answer-button
										span.answer-variant e
										span.answer-value I don't know
									p.answer-desc Description text. Explains why answer is correct or incorrect
						.test-footer
							a(href='./test-desc.html').test-footer-button
								span Directions
							a(href='./test-review-wrong.html').button-blue
								span Skip to questions 2
				.col.narrow
					include parts/questions-links-review