extends template/main
append vars
	-
		page_title = 'Student - Test'
block content
	main
		section.test
			.section
				.section-header
					h1.title Practice Test Score - Section Name
					button.button-white
						span Exit this section
			.section
				.block.test-block
					.test-header
						h5.block-title.test-title
							span Complete
					.test-inner
						h5.block-title.test-title
							span You finished Verbal Reasoning
						p.test-text Description text about rules at the real test - if there will be break or not etc.
						.test-result
							.test-result-block.violet
								h6.test-result-title
									span Questions Answered
								p.test-result-score 35
							.test-result-block.turquoise
								h6.test-result-title
									span Questions Correct
								p.test-result-score 23
							.test-result-block.gray
								h6.test-result-title
									span Not answered
								p.test-result-score 5
							.test-result-block.green
								h6.test-result-title
									span Score
								p.test-result-score 300
							.test-result-block.blue
								h6.test-result-title
									span Stars for section of the Test
								p.test-result-score +150
								.test-result-img
									svg
										use(xlink:href='img/sprite.svg#stars')
									svg
										use(xlink:href='img/sprite.svg#stars')
									svg
										use(xlink:href='img/sprite.svg#stars')
					.test-footer
						a(href='./test-review-correct.html').test-footer-back
							span Review this section
						button.button-blue
							span Start the next section: Quantitative Reasoning