extends template/main
append vars
	-
		page_title = 'Student - Tips & Strategies'
block content
	main
		include ../img/sprite.svg
		section.test
			include ../img/sprite.svg
			.section
				.block.tips
					h3.title
						span About Test
					ul.tips-list
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#file')
							.tips-item-text Test content and format
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#file')
							.tips-item-text Scoring on Test
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#file')
							.tips-item-text How to use test practice?
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#file')
							.tips-item-text How to prepare for the Test?
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#video')
							.tips-item-text Time management strategies
					h3.title
						span About the Mathematics Achievement
					ul.tips-list
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#file')
							.tips-item-text Inside the Mathematics Achievement section
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#file')
							.tips-item-text Heart of Algebra: lessons by skill
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#file')
							.tips-item-text Problem Solving and Data Analysis: lessons by skill
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#file')
							.tips-item-text Passport to Advanced Math: lessons by skill
						li.tips-item
							.tips-item-img
								svg
									use(xlink:href='#video')
							.tips-item-text Mathematics Achievement: What to expect?
